In [1]:
from datasets import load_dataset
import pandas as pd
import numpy as np

In [2]:
dataset = load_dataset("imdb")
train = dataset['train']
test = dataset['test']

In [3]:
train_df = pd.DataFrame(train)
test_df = pd.DataFrame(test)

### info

In [4]:
train_label = train_df['label'].value_counts()
test_label = test_df['label'].value_counts()
pd.DataFrame({'train': train_label, 'test': test_label})

       train   test
label
0      12500  12500
1      12500  12500

In [5]:
test[12600]

{'text': 'Albert Finney and Tom Courtenay are brilliant as Sir and his Dresser. Of course the play is brilliant to begin with and nothing can compare with the immediacy and collegiality of theatre, and I think you listen better in theatre; but on the screen we become more intimate, we\'re \'up-close\' more than we are in the theatre, we witness subtle changes in expression, we "see" better as well as listen. Both the play and the movie are wondrous: moving, intelligent, illuminating--of the backstage story of the company, of historical context, of the two main characters, and of the parallel characters in "Lear" itself. If you cannot get to see it in a theatre (I don\'t imagine it\'s produced much these days) then, please, do yourself a favor, and get the video.',
 'label': 1}

### epdlxj

In [7]:
%cd /home/jaewon/바탕화면/google/Project/project1

/home/jaewon/바탕화면/google/Project/project1

In [8]:
dataset = load_dataset('json', data_files={'train': './data/train_data.json', 'test': './data/test_data.json'})
train = dataset['train']
test = dataset['test']

In [9]:
train_df = pd.DataFrame(train)
test_df = pd.DataFrame(test)

In [10]:
train_label = train_df['label'].value_counts()
test_label = test_df['label'].value_counts()
pd.DataFrame({'train': train_label, 'test': test_label})

       train  test
label
0       8965  2256
2       7201  1827
1       6736  1654
3       6659  1654